@font-face {
    font-family: 'font';
    src: url(GE-SS-TV-Bold.ttf);
  }
   
@font-face {
    font-family: 'font-m';
    src: url(NotoSansArabic-Medium.ttf);
  }
   
@font-face {
    font-family: 'font-sm';
    src: url(NotoSansArabic-SemiBold.ttf);
  }
 
   
@font-face {
    font-family: 'font-mx';
    src: url(NotoSansArabic_ExtraCondensed-SemiBold.ttf);
  }
 
   